@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f6f6fe;
  background: url(./images/bg-top.svg) no-repeat, url(./images/bg-bottom.svg) no-repeat;
  background-position: top 0px right 0px, left 0px top 700px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.pricing {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 28px;
  margin-top: 30px;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
}

.s {
  display: flex;
  font-size: 22px;
  color: #868686;
}

.s p:first-child {
  width: 120px;
}

.s .switch {
  margin: 0px 30px;
}

.save_text {
  width: max-content;
  position: absolute;
  text-align: center;
  top: 60px;
}

.crd {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 0px 30px;
  box-shadow: 2px 5px 5px #c3dae2;
}

.crd p, .crd span {
  margin: 20px 10px;
}

.crd span {
  font-weight: 700;
  font-size: 48px;
}

.crd p {
  border-top: 1px solid #c6c6c6;
  padding: 10px 50px 5px 50px;
  width: 250px;
}

.crd p:first-child {
  border: none;
  align-self: center;
}

.crd button:hover {
  background-color: white;
  background: white;
  color: #A0A6FC;
  border: 1px solid #A0A6FC;
}

.crd button {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px 90px;
  background: linear-gradient(#a3a8f0, #696fdd);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.Pro {
  background: linear-gradient(#a3a8f0, #696fdd);
  flex-grow: 1.25;
  color: white;
  margin: -30px 0px;
}

.Pro button {
  background: none;
  background-color: white;
  border-radius: 10px;
  color: #A0A6FC;
}

.Pro button:hover {
  background-color: #A0A6FC;
  background: transparent;
  color: white;
  border: 1px solid white;
}

.Pro p {
  border-top: 1px solid white;
}

.basic button, .master button {
  color: white;
}

.breathe {
  font-weight: 600;
  animation-name: breathe;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    font-size: 28px;
    color: #e13b3b;
  }
  50% {
    font-size: 27px;
  }
  100% {
    font-size: 28px;
    color: #868686;
  }
}

.hide {
  display: none;
}

.active {
  display: block;
}

@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    gap: 60px;
  }
  body {
    background-position: top 0px right 0px, left 0px bottom 0px;
  }
}
/*# sourceMappingURL=style.css.map */